*{  /* universal selector */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* it include padding and border in total width and height, in the box */ 
}
/* share style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}

.logo h2{
    font-size: 45px;
    font-weight: 900; 
}
.color-orange{
    color: #FD6E0A;
}
/* we make a btn class in button so that we can use the same style in every button. */
.btn{
    color:white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;

}

/* we design the section-heading another div container which is into the div .about-container (the whole container for about section) */
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px; /* there is a margin in the bottom between h2 and p so we add it */
}

.section-heading p{
    font-size: 18px;
    line-height: 30px;  /*we make line height*/
    margin-bottom: 30px;
    color:#757575;

}

.text-center{
    text-align: center;
}

/* main style */
header{
    background-color: #FFF8F3;
    padding-top: 50px; /* top padding for header for making gap from top, we will make it in the header el */
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
    background-size: contain, auto;

    
}

nav{
    width: 60%; /* navigation bar width */
    max-width: 1140px; /* maximum width of navigation bar */
    margin: 0 auto; /* to center align the navigation bar  nd it will take auto margin from left and right*/
    display: flex; /* flexbox layout so that the bar can be stay inline*/
    justify-content: space-between; /* to make space between the items of navigation bar, ,ake huge distance*/
    align-items: center;



}
/* menu is in different box so we put ul a class and select it and style, flex for make them inline, list-style-type: none for remove the dot */
nav .menu{    
    display: flex;
    list-style-type: none;
    gap: 51px;
    align-items: center;

}

 /* we select ancor tag from nav so that we can style the link, text-decoration: none; means we want to remove underline from link */
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    margin:47px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* we make a max width to give width every block el ex h1, p in the .banner-content */
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;

}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color:#181818;
    margin-bottom: 20px;
}

#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px; /* it will create line hight */
    margin-bottom: 30px;
}

#banner .banner-image img{
    max-width: 585px;
    /* there is a gap in img by default, if we want to remove it, we need to do vertical-align:middle */
    vertical-align: middle;


}

/* design about section */
/* we create another section nd we make distance from 1 section 2 another by adding padding */
/* we add this 3 section id in one place because there padding top are same */
#about, #skill, #resume{
    padding-top: 130px;
}

/* we edit the about cotainer when info we write, padding is the destance from section and the div container, we set max-width for the maximux width of the whole section not just div .about-container and same for height and we add margin so that the content of the div .about-container can  be in the middle including section  */
#about .about-container{
    padding: 131px 157px;
    max-width: 1140px;
    max-height: 550px;
    margin: 0 auto;
    background-color: #FFF8F3;
}

#about .about-container .about-info{
    display:flex;
    justify-content: space-around; /*it will create a gape from each other*/
    text-align: center;
    
}

/* now we are going to edit the font which is in the info card in about info */

.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color:#757575;

}

.about-info .info-card h4 { 
     font-size: 20px ;

}


#skill .skill-container{
    max-width: 1140px;
    margin: 0 auto;
}

#skill .skill-container .skill-box{
    display: flex;
    gap: 24px;
}
.skill-box .skill-card{
    max-width: 267px;
    /* height: 377px; */
    padding: 30px;
    box-shadow: 0 6px 50px 0 #00000013;

    /* the padding is from the whole card to the box */
}

.skill-card img{
    max-width: 44px;
    padding-bottom: 30px;
    
    
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.skill-card p{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-bottom: 30px;
}

.resume-container hr{
    margin: 30px 0;
}

#resume .resume-container{
    max-width: 1140px;
    margin: 113px auto 0;
    display: flex;
    gap: 24px;

}

.resume-container .section-title{
    font-size: 30px;
    color: #474747;
    margin-bottom: 30px;
}

.resume-card{
    max-width: 511px;
    margin-right: 47px;

}
.resume-card .card-title{
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
    font-weight: bold;

}

.resume-card .card-info{
    font-size: 20px;
    color: #757575;
    margin-bottom: 20px;
    font-weight: 600;

}

.resume-card .card-text{
    font-size: 16px;
    line-height: 28px;
    color: #757575;
    margin-right: 47px;

}

footer {
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}

footer .footer-container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 117px;
}

.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    font-size: 35px;
    color: #181818;
    margin-bottom: 20px;

}

.footer-container p{
    font-size: 16px;
    line-height: 28px;
    color: #474747;
    margin-bottom: 30px;

}

.footer-container .icons a{
    margin-right: 25px;
}

.footer-container form input[type="text"], .footer-container form textarea {
    padding: 18px;
    width: 461px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;


}